@model List<WebMusic.Models.STEM>
<div class="new-stems-div">
    <ul class="new-stems-div-ul">
        @{
            var count = 0;
            for (var i = 0; i < Model.Count; i++)
            {
                <li>
                    <span id="newstem-detail-link" onclick="StemDetail(@Model.ElementAt(i).ID)"><img src="@Url.Content("~/IMG/stems/" +@Model.ElementAt(i).LINK_IMG)" alt=""></span>
                    <a class="new-stems-name link-decorate" href="#">@Model.ElementAt(i).NAME</a>
                    <div class="art" style="width: 100%;display: inline-block; white-space: nowrap;overflow: hidden">
                        @{
                            foreach (var it in ViewBag.art[count])
                            {
                                <a class="new-stems-artist link-decorate" href="#">@it </a>
                            }
                        }
                    </div>
                    <a class="stems-info link-decorate" href="#">@ViewBag.lbl[count]</a>
                </li>
                                count++;
                            }
        }
    </ul>
</div>
<script type="text/javascript">
    function StemDetail(id) {
        $.ajax({
            url: '@Url.Action("Index", "StemsDetail")',
            dataType: 'json',
            type: 'POST',
            data: JSON.stringify({
                id: id
            }),
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                document.getElementById("contentWrap").innerHTML = '';
                document.getElementById("contentWrap").innerHTML = data;
            }
        });
    }
</script>
