@model List<MusicWeb.Model.STEMS>

<div class="new-stems-div">
    <ul class="new-stems-div-ul">
        @{
            var count = 0;
            foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Index", "StemsDetail", new {@id = @item.STEMS_ID})"><img src="@Url.Content("~/Image/stems/" + @item.IMG)" alt=""></a>
                    <a class="new-stems-name link-decorate" href="#">@item.NAME</a>
                    <div class="art" style="width: 100%;display: inline-block; white-space: nowrap;overflow: hidden">
                        @{
                            foreach (var it in ViewBag.art[count])
                            {
                                <a class="new-stems-artist link-decorate" href="#">@it </a>
                            }
                        }
                    </div>
                    <a class="stems-info link-decorate" href="#">@ViewBag.lbl[count]</a>
                </li>
                                count++;
                            }
        }

    </ul>
</div>