@model List<MusicWeb.Model.TRACK>
<div class="tracks-detail">
    <div class="tracks-title">
        <h3>@ViewBag.quantum TRACKS TOTAL</h3>
    </div>
    <div class="tracks-list">
        <div class="tracks-fields">
            <hr />
            <span>TITLE</span>
            <span>ARTIST</span>
            <span>LABEL</span>
            <span>GENRE</span>
            <span>RELEASED</span>
        </div>
        @{
            var count = 0;
            var i = 0;
            foreach (var item in Model)
            {
                i++;
                <div class="tracks">
                    <div class="div-tracks-img">
                        <img src="@Url.Content("~/Image/tracks/" + @item.LINK_IMG)" alt="">
                    </div>
                    <div class="div-tracks-number">
                        <span>@i</span>
                    </div>
                    <div class="div-tracks-play">
                        <span class="play glyphicon glyphicon-play"></span>
                        <span class="list glyphicon glyphicon-list"></span>
                    </div>
                    <div class="div-tracks-title">
                        <span>@item.NAME</span>
                    </div>
                    <div class="div-tracks-artist">
                        @{
                            foreach (var it in ViewBag.art[count])
                            {
                                <a href="#">@it  </a>
                            }

                        }
                    </div>
                    <div class="div-tracks-label">
                        @{
                            foreach (var tmp in ViewBag.lbl[count])
                            {
                                <a href="#">@tmp  </a>
                            }
                        }
                    </div>
                    <div class="div-tracks-genre">
                        <a href="#">@item.GENRE</a>
                    </div>
                    <div class="div-tracks-released">
                        <span>@item.DATE_RELEASE</span>
                    </div>
                    <div class="div-tracks-cost">
                        <button class="cost" type="button">$ @item.COST<span class="glyphicon glyphicon-menu-down"></span></button>
                    </div>
                </div>
                                count++;
                            }
        }
    </div>
</div>

