

@using WebMusic.Models
@model List<REMIX>

@{
    int count = 0;
    List<List<List<string>>> Detail = ViewBag.Detail;
    int loop = 0;
    if (Detail.Count > 0)
    {
        loop = Detail.Count / 5;
        if (Detail.Count % 5 != 0)
        {
            loop++;
        }
    }

    double widthButton = 100;
        if (loop > 1)
        {
            widthButton = loop * 0.5;
            widthButton -= 0.5;
            widthButton = 100 - widthButton;
            widthButton /= loop;
        }

    var rightWidth = widthButton + "%";



}

<style>
    .detail-artist-remix-slider-button{
        width: @rightWidth;
    }
</style>

<div class="detail-artist-remix">
    <p class="detail-artist-remix-title">Hot Remix This Artist</p>
    <div class="detail-artist-remix-content">
        @{
            for (int i = 0; i < loop; i++)
            {
                if (i != loop-1)
                {
                    <div stt="@i" class="detail-artist-remix-slide">
                        <ul>

                            <li>
                                <div class="detail-artist-remix-child">
                                    <div class="detail-artist-remix-child-top">
                                        <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                        <div class="detail-artist-remix-child-control">
                                            <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                            <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                            <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="detail-artist-remix-child-bottom">
                                        <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                        <p class="detail-artist-remix-child-artist">
                                            @foreach (var item in Detail[count][0])
                                            {
                                                <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                            }
                                        </p>
                                        <p class="detail-artist-remix-child-label">
                                            @foreach (var item in Detail[count][1])
                                            {
                                                <a href="#"> @item </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                            @{ count = count + 1; }

                            <li>
                                <div class="detail-artist-remix-child">
                                    <div class="detail-artist-remix-child-top">
                                        <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                        <div class="detail-artist-remix-child-control">
                                            <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                            <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                            <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="detail-artist-remix-child-bottom">
                                        <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                        <p class="detail-artist-remix-child-artist">
                                            @foreach (var item in Detail[count][0])
                                            {
                                                <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                            }
                                        </p>
                                        <p class="detail-artist-remix-child-label">
                                            @foreach (var item in Detail[count][1])
                                            {
                                                <a href="#"> @item </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                            @{ count = count + 1; }

                            <li>
                                <div class="detail-artist-remix-child">
                                    <div class="detail-artist-remix-child-top">
                                        <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                        <div class="detail-artist-remix-child-control">
                                            <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                            <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                            <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="detail-artist-remix-child-bottom">
                                        <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                        <p class="detail-artist-remix-child-artist">
                                            @foreach (var item in Detail[count][0])
                                            {
                                                <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                            }
                                        </p>
                                        <p class="detail-artist-remix-child-label">
                                            @foreach (var item in Detail[count][1])
                                            {
                                                <a href="#"> @item </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                            @{ count = count + 1; }

                            <li>
                                <div class="detail-artist-remix-child">
                                    <div class="detail-artist-remix-child-top">
                                        <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                        <div class="detail-artist-remix-child-control">
                                            <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                            <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                            <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="detail-artist-remix-child-bottom">
                                        <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                        <p class="detail-artist-remix-child-artist">
                                            @foreach (var item in Detail[count][0])
                                            {
                                                <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                            }
                                        </p>
                                        <p class="detail-artist-remix-child-label">
                                            @foreach (var item in Detail[count][1])
                                            {
                                                <a href="#"> @item </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                            @{ count = count + 1; }

                            <li>
                                <div class="detail-artist-remix-child">
                                    <div class="detail-artist-remix-child-top">
                                        <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                        <div class="detail-artist-remix-child-control">
                                            <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                            <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                            <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="detail-artist-remix-child-bottom">
                                        <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                        <p class="detail-artist-remix-child-artist">
                                            @foreach (var item in Detail[count][0])
                                            {
                                                <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                            }
                                        </p>
                                        <p class="detail-artist-remix-child-label">
                                            @foreach (var item in Detail[count][1])
                                            {
                                                <a href="#"> @item </a>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                            @{ count = count + 1; }

                        </ul>
                    </div>
                }
                else
                {
                    <div stt="@i" class="detail-artist-remix-slide">
                        <ul>
                            @while (1 == 1)
                            {
                                <li>
                                    <div class="detail-artist-remix-child">
                                        <div class="detail-artist-remix-child-top">
                                            <img src="@Url.Content(Model.ElementAt(count).LINK_IMG)" alt="">
                                            <div class="detail-artist-remix-child-control">
                                                <button class="detail-artist-remix-child-play"><i class="fa fa-play"></i></button>
                                                <button class="detail-artist-remix-child-buy">$@Model.ElementAt(count).COST</button>
                                                <button class="detail-artist-remix-child-share"><i class="fa fa-facebook"></i>Share</button>
                                            </div>
                                            <p></p>
                                        </div>
                                        <div class="detail-artist-remix-child-bottom">
                                            <p class="detail-artist-remix-child-name"><a href="#">@Model.ElementAt(count).NAME (Remix)</a></p>
                                            <p class="detail-artist-remix-child-artist">
                                                @foreach (var item in Detail[count][0])
                                                {
                                                    <a href="@Url.Action("Index", "Artist", new { @artistName = item })"> @item </a>
                                                }
                                            </p>
                                            <p class="detail-artist-remix-child-label">
                                                @foreach (var item in Detail[count][1])
                                                {
                                                    <a href="#"> @item </a>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                count = count + 1;
                                if (count==Detail.Count)
                                {
                                    break;
                                }
                            }
                        </ul>


                        <div class="detail-artist-remix-slider-control">
                            @if (loop == 1)
                            {
                                <div stt="0" class="detail-artist-remix-slider-button"></div>
                            }
                            else
                            {
                                <div stt="0" class="detail-artist-remix-slider-button-active detail-artist-remix-slider-button"></div>
                                for (int k = 1; k < loop; k++)
                                {
                                    <div stt="@k" class="detail-artist-remix-slider-button"></div>
                                }
                            }
                            
                        </div>

                    </div>
                }
            }
        }

    </div>
</div>
