
<div class="track-total">
    <div class="col-sm-12">
        <div class="detail-artist-total-track">
            <div class="detail-artist-total-track-title">
                <span>3 TRACKS TOTAL</span>
            </div>
            <br>
            <div class="detail-artist-total-track-content">
                <ul>
                    <li>
                        <div class="detail-artist-total-track-play">ORDINAL</div>
                        <div class="detail-artist-total-track-name">TITLE</div>
                        <div class="detail-artist-total-track-artist">ARTIST</div>
                        <div class="detail-artist-total-track-remixer">REMIXER</div>
                        <div class="detail-artist-total-track-genre">GENRE</div>
                        <div class="detail-artist-total-track-bpm">BPM</div>
                        <div class="detail-artist-total-track-key">KEY</div>
                        <div class="detail-artist-total-track-length">LENGTH</div>
                        <div class="detail-artist-total-track-buy">COST</div>
                    </li>
                    @{
                        List<List<List<string>>> trackTotal = ViewBag.trackTotal;
                        for (var i = 0 ; i < trackTotal.Count ;  i++)
                        {
                            <li>
                                <div class="detail-artist-total-track-play">
                                    <span>@i</span>
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                                <div class="detail-artist-total-track-name"><a href="@Url.Action("Index","Track",new { @id = Convert.ToInt32(trackTotal[i][0][0])})">@trackTotal[i][0][2]</a>
                                </div>
                                <div class="detail-artist-total-track-artist">
                                    @foreach (var item in @trackTotal[i][1])
                                    {
                                        <a href="@Url.Action("Index","Artist",new {@artistName = item})">@item</a>
                                    }
                                </div>
                                <div class="detail-artist-total-track-remixer"><a href="#"></a></div>
                                <div class="detail-artist-total-track-genre"><a href="#">@trackTotal[i][0][3]</a></div>
                                <div class="detail-artist-total-track-bpm"><span>@trackTotal[i][0][4]</span></div>
                                <div class="detail-artist-total-track-key"><span>@trackTotal[i][0][5]</span></div>
                                <div class="detail-artist-total-track-length"><span>@trackTotal[i][0][6]</span></div>
                                <div class="detail-artist-total-track-buy"><button>$@trackTotal[i][0][7]</button></div>
                            </li>
                        }
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</div>