@model WebMusic.Models.ARTIST

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ARTIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BORN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BORN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIP)
        </dt>

        <dd>
            @Html.Raw(Model.DESCRIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME_LABEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LABEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POINT_MONTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POINT_MONTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POINT_ALL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POINT_ALL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABEL.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABEL.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATISTIC_ARTIST.ID_ARTIST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATISTIC_ARTIST.ID_ARTIST)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
